{% extends 'base.html.twig' %}

{% block title %}Edit ContentStatic{% endblock %}

{% block body %}
    <h1>Edit ContentStatic</h1>

    {{ include('content_static/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('content_static_index') }}">back to list</a>

    {{ include('content_static/_delete_form.html.twig') }}
{% endblock %}
