{% extends 'admin/baseAdmin.html.twig' %}


{% block body %}
	<div class="row m-3" style="justify-content: space-between;">
	    <h1>Modifier {{ user.userName }}</h1>
        <a class="m-3" style="color: #63c7d2;" href="{{ path('users_index') }}"><i class="fas fa-sign-out-alt  fa-2x"></i></a>
    </div>

    {{ include('users/_formEdit.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
