{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
	<div class="row m-3 space-between">
    	<h1>Ajouter un joueur</h1>
        <div>
            <a class="m-3 color-icon" href="{{ path('users_index') }}"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </div>
    </div>

    {{ include('users/_form.html.twig') }}

{% endblock %}
