<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Modification password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form ></form>
<form method="POST" onsubmit="if(confirm('Are you sure ?')){return true;}else{return false;}">
      <div class="modal-body mx-3">
        <div class="md-form mb-4">
          <i class="fas fa-key prefix grey-text"></i>
          <input type="text" id="newPass" required="" name="newPass" class="form-control validate">
          
          <input type="hidden" id="user" name="userId" value="{{ user.id }}">

          <label data-error="wrong" data-success="right" for="form2">Nouveau password</label>

        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-indigo">Valider <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
</form>
    </div>
  </div>
</div>
<div class="">
</div>