{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="row m-3 space-between">
    	<h1>Ajouter un jeux</h1>
        <div>
            <a class="m-3 color-icon" href="{{ path('jeux_index') }}"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </div>
    </div>

    {{ include('jeux/_form.html.twig') }}

{% endblock %}
