<!-- Footer -->
<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-5 bg-dark">
  </div>
  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-1" style="background-color: black;
">2020 - Création Open Source <i class="fab fa-github"></i> - By <a href="https://www.linkedin.com/in/lcocquyt/"><i class="fab fa-linkedin"></i></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->