.space-between {
	justify-content: space-between;
}

.color-icon {
	color: #63c7d2;
}

.flag {
	height: 20px; width: auto;
}

.admin-btn {
	background-color: #63c7d2 !important;
}

.delete-ml {
	margin-left: 20px;
}

.delete-btn {
	border: solid 2px red;
	margin-top: 10px;
}
