{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
	<div class="row m-3" style="justify-content: space-between;">
    	<h1>Ajouter une news</h1>
        <div>
            <a class="m-3" style="color: #63c7d2;" href="{{ path('news_index') }}"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </div>
    </div>


    {{ include('news/_form.html.twig') }}

{% endblock %}
