{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
	<div class="row m-3" style="justify-content: space-between;">
	    <h1>Message de {{ contact.name }}</h1>
        <a class="m-3" style="color: #63c7d2;" href="{{ path('contact_index') }}"><i class="fas fa-sign-out-alt  fa-2x"></i></a>
    </div>

    {{ include('contact/_formEdit.html.twig', {'button_label': 'Valider'}) }}
{% endblock %}
