{% extends 'base.html.twig' %}

{% block body %}
<div id="#contact" class="height-min">
	<div class="form-contact">
    {% if statics[0].contact == true %}

    	{{ include('contact/_form.html.twig') }}
    {% else %}

    	<div class="text-center p-5" style="height: 550px">
	    	<p class=" p-5 font-weight-bold">Formulaire de contact indisponible !</p>
	    	<img src="../../image/navbar-logo.png">
	    </div>
        
    {% endif %}

    </div>
</div>
{% endblock %}
