{% extends 'base.html.twig' %}

{% block body %}
	<div style="padding-top: 120px; padding-bottom: 80px;
    			width: 100%;
    			 height: 700px;
    			 ">
    	{{ include('contact/_form.html.twig') }}
    </div>
{% endblock %}
