{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
	<div class="row m-3 space-between">
    	<h1>Modifier {{ palmare.name }}</h1>
        <a class="m-3 color-icon" href="{{ path('palmares_index') }}"><i class="fas fa-sign-out-alt  fa-2x"></i></a>
    </div>
    {{ include('palmares/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
