<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin LT{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('admin') }}
    </head>
    <body>
        {% include 'admin/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {# CDN MDBootstrap #}
		{% include 'cdn.html.twig' %}
        {% endblock %}
    </body>
</html>
