<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LT Multigaming Since 2k5{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('lineup-show') }}
            {{ encore_entry_link_tags('user-show') }}
        {% endblock %}
    </head>
    <body>
        {% include 'navbar/navbar.html.twig' %}
        
        {% block body %}
        {% endblock %}
            
        {% include 'navbar/footer.html.twig' %}
        
        {% block javascripts %}
            {# CDN MDBootstrap #}
            {% include 'cdn.html.twig' %}
        {% endblock %}
    </body>
</html>
