<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LT Multigaming Since 2k5{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {# CDN MDBootstrap #}
		{% include 'cdn.html.twig' %}
    </head>
    <body>
        {% include 'navbar/navbar.html.twig' %}
        {% block body %}{% endblock %}
            
        {% include 'navbar/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
