<div style="padding-top: 120px; padding-bottom: 80px;
    			width: 100%;
    			 height: auto;
    			 background-color: #000;">
	    <h1 class="text-primary ml-5" 
	    style="font-family: 'Kaushan Script', cursive; font-size: 110px;" 
	    	>{{ statics[0].description }}</h1>
    
    	<p class="text-danger" style="font-family: 'Playfair Display', serif;     font-size: 25px; margin-left: 270px;">{{ statics[2].description }}</p>
	    
	    <p class="text-light text-right pr-5 pl-5 mt-5" style="font-family: 'Playfair Display', serif; font-size: 17px;">{{ statics[1].description }}</p>
</div>
