<div id="presentation">

  <canvas id="nokey" class="w-100"></canvas>
    
  <h1 id="bigTitle" class="title text-primary ml-5">{{ statics[1].description }}</h1>

  <p id="small-title" class="small-title text-danger">{{ statics[3].description }}</p>
  
  <p id="description-title" class="text-light text-right pr-5 pl-5 mt-5">{{ statics[2].description }}</p>

</div>

{% include 'canvas.html.twig' %}